body {
    background-color: #ebebeb;
}


h1 {
    color: #d55;
}

.container {
    width: 50%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h3 {
    color: #a29aa9;
    text-align: center; 
}

.mainTim {
    width: auto;
    margin-top: 50px;
    height: auto;
    background-color: white;
    text-align: center;
    color: #a29aa9;
    padding: 20px;
}


.photoTim {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid #a29aa9;
    
}


.text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    display: block;
}



.infolink {
    background:    #dd5555;
    border-radius: 5px;
    padding:       10px 15px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 23px/1 "Open Sans", sans-serif;
    text-align:    center;
    text-shadow:   0px 0px #ffffff;
    text-decoration: none;
}

.netlogos {
    margin-top: 50px;
    padding: 20px;
    height: auto;
    width: auto;
    text-align: center;
    background-color: white;
    color: #a29aa9;
    display: flex;
    justify-content: space-around;
    
}


.fab {
    font-size: 30px;
    text-align: center;
    color: #a29aa9;
}

.movies {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: white;
    color: #a29aa9;
    text-align: center;
}

.film {
    display: flex;
    justify-content: space-around;
}

.filmleft {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.filmright {
    padding: 20px;
    text-align: justify;
    width: auto;
}


/* Responsive Web Design */

@media only screen and (max-width:780px) {
    body {
        width: 100%;
    }
    .container {
        width: 90%;
    }

    .mainTim {
        height: auto;   
    }

    .photoTim {
        height: auto;
        width: 50%;
    }

        
    .netlogos {
        height: auto;
        display: block;
        padding: 0;
    }

    .movies {
        height: auto;
        display: block;
        padding: 0;  
    }

    
    .film {
        height: auto;
        width: 100%;
        display: block;
    }
    .filmleft {
        height: auto;
        width: 40%;
        display: block;
        padding: 0;
        
        
    }
    .filmright {
        height: auto;
        display: block;
    }
}




